<div class="flex items-center justify-between h-16 bg-gray-50 border-b border-gray-800">
				<h1 class="m-5 text-3xl font-light text-gray-900 tracking-wide">View Job Cards</h1>
			</div>

            <!-- search bar -->
            <form class="mt-5 mx-auto max-w-xl py-1 px-6 w-full rounded-full border border-gray-500 flex focus-within:border-gray-600">
				<input type="text" placeholder="Search Parts" class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0" name="topic">
				<button class="flex flex-row items-center justify-center min-w-[107px] px-2 rounded-full font-medium tracking-wide border disabled:cursor-not-allowed disabled:opacity-50 transition ease-in-out duration-150 text-base bg-black text-white font-medium tracking-wide border-transparent py-1 h-[30px] -mr-3" >
					Search
				</button>
			</form>


			<div class="p-4">
				
                <div class="grid grid-cols-1 md:grid-cols-3 gap-5">

                    <div class="bg-[#f2f9fe] rounded-lg shadow-lg p-8">
                        <h2 class="text-xl font-bold text-gray-800 mb-1">Machine Brand: sample brand</h2>
                        <h2 class="text-l font-bold text-gray-800 mb-1">Bank: BOC</h2>
                        <h2 class="text-l font-bold text-gray-800 mb-1">Date: 2025/01/14</h2>
                        <p class="text-gray-700 mb-6">
                            Issue: Some issue note with sample machine
                        </p>
                        
                    </div>

                    <div class="bg-[#f2f9fe] rounded-lg shadow-lg p-8">
                        <h2 class="text-xl font-bold text-gray-800 mb-1">Machine Brand: sample brand</h2>
                        <h2 class="text-l font-bold text-gray-800 mb-1">Bank: BOC</h2>
                        <h2 class="text-l font-bold text-gray-800 mb-1">Date: 2025/01/14</h2>
                        <p class="text-gray-700 mb-6">
                            Issue: Some issue note with sample machine
                        </p>
                        
                    </div>

                    <div class="bg-[#f2f9fe] rounded-lg shadow-lg p-8">
                        <h2 class="text-xl font-bold text-gray-800 mb-1">Machine Brand: sample brand</h2>
                        <h2 class="text-l font-bold text-gray-800 mb-1">Bank: BOC</h2>
                        <h2 class="text-l font-bold text-gray-800 mb-1">Date: 2025/01/14</h2>
                        <p class="text-gray-700 mb-6">
                            Issue: Some issue note with sample machine
                        </p>
                        
                    </div>
                    
                </div>
			</div>